* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    max-width: 600px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 3px solid #3498db;
    padding-bottom: 10px;
    font-size: 25px;
}

header {
    text-align: center;
}

footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #7f8c8d;
}

ol {
    text-align: center;
    margin-bottom: 30px;
}

li {
    text-align: center;
    margin-bottom: 5px;
}

button#login{
    padding: 10px;
    color: white;
    background-color: #3498db;
    border-radius: 8px;
}

form {   
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 90%;
}

input {
    padding: 5px 15px;
    border-radius: 8px;
    color: #3d3d3d;
    border: 0px;
    background-color: #ffffff;
    margin-bottom: 10px;
    height: 40px;
}

input::placeholder{
    color: #7f8c8d;
}

label {
    font-size: smaller;
    color: #7f8c8d;
}

label#letrasmiudas{
    text-align: center;
}


button {
    height: 50px;
    background-color: #3498db;
    color: #ffffff;
    margin: 50px 0px;
    border: 0px;
    border-radius: 8px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a#login{
    height: 50px;
    background-color: #3498db;
    color: #ffffff;
    border: 0px;
    border-radius: 8px;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tg  {
    border-collapse:collapse;border-spacing:0;
    margin-top: 50px;
}

.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-u01j{
    background-color:#34cdf9;
    border-color:inherit;
    font-weight:bold;
    text-align:left;
    vertical-align:top
}

.tg .tg-x6qq{
    background-color:#dae8fc;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}

.tg .tg-c6of{
    background-color:#ffffff;
    border-color:inherit;
    text-align:left;
    vertical-align:top
}

img.tabela {
    width: 15px;
    margin: 0px 10px;
}


/*------------------------------------------------------------------------------------------*/


@media (max-width: 600px) {
    h1 {
        font-size: 25px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 30px;
    }
}

@media (min-width: 1025px) {
    h1 {
        font-size: 40px;
    }
}